/*Card*/
.card {
  margin: 2%;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 270px;
  height: 270px;
  background: var(--bg-color);
  border: 1px solid var(--main-color);
  box-shadow: 1px 1px 1px 1px var(--main-color);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-photo {
  transform: scale(0.3) translate(220px, 230px);
  width: 350px;
  height: 350px;
  margin-left: -125px;
  margin-top: -220px;
  background: radial-gradient(circle,white 30%,rgba(255,255,255,0) 62%) 50% 50%/100% 100%;
  background-color: #ccc;
  background-repeat: no-repeat;
  border-radius: 30%;
}


.card-title {
  text-align: center;
  color: var(--font-color);
  font-size: 20px;
  font-weight: 400;
  margin-top:-52px;

}

.card-title span {
  font-size: 15px;
  color: var(--font-color-sub);
}

.card-photo:hover {
  transition: 0.3s;
  transform: scale(0.4) translate(160px, 150px);
}




/*Add button*/
.addbutton {
  margin-left: 45%;
  position: relative;
  width: 200px;
  height: 400px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #59bed2;
  border-radius:6px;
  background-color: #59bed2;
}

.addbutton, .addbutton__icon, .addbutton__text {
  transition: all 0.3s;
}

.addbutton .addbutton__text {
  transform: translateX(3px);
  color: #fff;
  font-weight: 600;
  margin-left:5px;
}

.addbutton .addbutton__icon {

  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #59bed2;
  display: flex;
  align-items: center;
  justify-content: center;
}



.addbutton:hover {
  background: #59bed2;
}

.addbutton:hover .addbutton__text {
  color: transparent;
}

.addbutton:hover .addbutton__icon {
  width: 148px;
  transform: translateX(0);
}

.addbutton:active .addbutton__icon {
  background-color: #59bed2;
}

.addbutton:active {
  border: 1px solid #59bed2;
}
